@CHARSET "UTF-8";



.icon-restore:before {
    color: #ff0000;
}
.icon-restore::before {
    content: "I";
}
.icon-back:before {
    color: #000000;
}
.icon-back::before {
    content: "\e206";
}

div#ajaxresponse {
  height:1.2em;
}
.ajax-loading {
  background-image : url("../images/ajaxload_1.gif");
  background-repeat: no-repeat;
  background-position: 100px;
}

.cpanel div.icon, #cpanel div.icon {
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}
.cpanel div.icon a, #cpanel div.icon a {
    background-color: #fff;
    background-position: -30px center;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    padding: 3px;
    text-decoration: none;
    transition-duration: 0.8s;
    vertical-align: middle;
    width: 108px;
}
#cpanel div.icon a:hover, #cpanel div.icon a:focus, #cpanel div.icon a:active, .cpanel div.icon a:hover, .cpanel div.icon a:focus, .cpanel div.icon a:active {
    background-position: 0 center;
    border-bottom-left-radius: 50% 20px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
}
#cpanel img, .cpanel img {
    margin: 0 auto;
    padding: 10px 0;
}
#cpanel span, .cpanel span {
    display: block;
    text-align: center;
}
div.cpanel-left {
    float: left;
    width: 54%;
}
div.cpanel-right {
    float: right;
    width: 45%;
}

/** header icons **/
.icon-48-sportstypes{
  background-image: url(../images/icon-48-sportstypes.png); 
}

.icon-48-leagues { 
	background-image: url(../images/icon-48-leagues.png); 
}

.icon-48-seasons{
  background-image: url(../images/icon-48-seasons.png); 
}

.icon-48-clubs{
  background-image: url(../images/icon-48-clubs.png); 
}

.icon-48-statistics { 
	background-image: url(../images/icon-48-statistics.png); 
}

.icon-48-events { 
	background-image: url(../images/icon-48-events.png); 
}

.icon-48-playground { 
	background-image: url(../images/icon-48-playground.png); 
}

.icon-48-ProjectSettings {
  background-image: url(../images/icon-48-ProjectSettings.png); 
}

.icon-48-FrontendSettings{
  background-image: url(../images/icon-48-FrontendSettings.png); 
}

.icon-48-Divisions{
  background-image: url(../images/icon-48-Divisions.png); 
}
.icon-48-Tree{
  background-image: url(../images/icon-48-Tree.png); 
}

.icon-48-Positions{
  background-image: url(../images/icon-48-Positions.png); 
}

.icon-48-Referees{
  background-image: url(../images/icon-48-Referees.png); 
}

.icon-48-Teams{
  background-image: url(../images/icon-48-Teams.png); 
}

.icon-48-Matchdays {
  background-image: url(../images/icon-48-Matchdays.png); 
}

#adminForm {
    float: left;
    width: 100%;
}

/*Because admintable class does not exist in default Joomla 1.6.x -2.5x template,I created one here*/
/*
table.admintable td.key.vtop { vertical-align: top; }
table.admintable td { 
	text-align: left;
	width: 100%;
	color: #666;
	border-bottom: 1px solid #e9e9e9;
	}
table.admintable td.key,
table.admintable td.paramlist_key {
	white-space:nowrap;
	background-color: #FFFFFF;
	text-align: left;
	width: 200px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	vertical-align: top; 	
}

fieldset img {
    margin: 0px !important;
}

div.pagetitle {
    float: left;
}
*/
